<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle | Productos Naturales</title>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
      <link rel="stylesheet" href="../static/css/style details products.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <script src="https://kit.fontawesome.com/f7fb471b65.js" crossorigin="anonymous"></script>
   
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
</head>
<body> 

        <!-- Encabezado -->
        <header class="header">
    
            <nav>
                <div id="logo">
                    <a href="../index.html">
                        <i class="fa-solid fa-leaf"></i>
                        <span class="logo-text">Productos Naturales</span>
                    </a>
                </div>
    
                <ul class="nav-links">
                    <li><a href="../templates/page-under-Contruction.html">Categorias</a></li>
                    <li><a href="../templates/register.html" class="btn-reg">Registrarse</a></li>
                    
                    <li>
                        <a href="../templates/login.html">
                            <i class="fas fa-sign-in-alt"></i>
                            <span class="login-text">Iniciar Sesión</span>
                        </a>
                    </li>
                </ul>
            </nav>
    
        </header>
    <main id="mainDetalle" class="mainDetalle">
        <section id="banner" class="d-flex">
      <section class="detalle"  data-aos="zoom-in" data-aos-duration="1000" >
        <div class="contenedorDetalle" >
            <div class="imgDetalle">
                <img src="../static/img/productos/manzana.jpg" alt="image almendras">
            </div>
            <div class="textoDetalle">
                <h1>Manzana: </h1>
                <h2>Caracteristicas</h2>
                <p>La manzana es una de las frutas más completas y saludables que se conocen por su contenido en hidratos de carbono, 
                    fibra, vitaminas y potasio, siendo muy recomendable para todas las edades. Dice un aforismo ingles que "una manzana
                     diaria mantiene al doctor a distancia".</p>
                <h2>Beneficios</h2>
                <p>Además de por su sabor y las múltiples variedades que se pueden encontrar, las manzanas ofrecen un sinfín de beneficios
                     para la salud gracias a que son antioxidantes y a que tienen sustancias fitoquímicas, entre las que destaca la quercetina,
                      que ayuda con problemas cardiovasculares e inflamatorios entre muchos otros.</p>
                
               
            </div>
        </div>
       

      </section>

      

    </main>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>   AOS.init(); </script>

      <footer id="footer">
        <a href="../templates/page-under-Contruction.html">Términos y condiciones</a>
        <a href="../templates/page-under-Contruction.html">Preguntas Frecuentes</a>
        <a href="../templates/page-under-Contruction.html">Ayuda</a>
    </footer>
</body>
</html>