<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle | Productos Naturales</title>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
    <link rel="stylesheet" href="../static/css/style details products.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <script src="https://kit.fontawesome.com/f7fb471b65.js" crossorigin="anonymous"></script>

    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
</head>

<body>

    <!-- Encabezado -->
    <header class="header">

        <nav>
            <div id="logo">
                <a href="../index.html">
                    <i class="fa-solid fa-leaf"></i>
                    <span class="logo-text">Productos Naturales</span>
                </a>
            </div>

            <ul class="nav-links">
                <li><a href="../index.html" class="btn-reg">INICIO</a></li>
                <li><a href="../templates/page-under-Contruction.html">Categorias</a></li>
                <li><a href="../templates/register.html" class="btn-reg">Registrarse</a></li>

                <li>
                    <a href="../templates/login.html">
                        <i class="fas fa-sign-in-alt"></i>
                        <span class="login-text">Iniciar Sesión</span>
                    </a>
                </li>
            </ul>
        </nav>

    </header>
    <main id="mainDetalle" class="mainDetalle">
        <section id="banner" class="d-flex">
            <section class="detalle" data-aos="zoom-in" data-aos-duration="1000">
                <div class="contenedorDetalle">
                    <div class="imgDetalle">
                        <img src="../static/img/productos/chocolate.jpg" alt="image almendras">
                    </div>
                    <div class="textoDetalle">
                        <h1>Chocolate: </h1>
                        <h2>Caracteristicas</h2>
                        <p>l chocolate es el alimento que se obtiene mezclando azúcar con dos productos que derivan de
                            la
                            manipulación de las semillas del cacao: la masa del cacao y la manteca de cacao.2​ A partir
                            de
                            esta combinación básica se elaboran los distintos tipos de chocolate que dependen de la
                            proporción
                            entre estos elementos y de su mezcla, o no, con otros productos ya sea como leche,
                            colorante, y/o
                            frutos secos.</p>
                        <h2>Beneficios</h2>
                        <p>El chocolate, principalmente el negro o amargo, aporta diversos beneficios para la salud,
                            ayudando a
                            reducir la presión arterial, aumentar la saciedad, incrementar la energía, optimizar la
                            memoria, además
                            de promover el bienestar y el estado de ánimo, debido a que es rico en flavonoides, cafeína
                            y teobromina
                            y ácidos grasos saludables, aportando propiedades antioxidantes, estimulantes y
                            cardioprotectoras. </p>


                    </div>
                </div>


            </section>



    </main>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>   AOS.init();</script>
    <footer id="footer">
        <a href="../templates/page-under-Contruction.html">Términos y condiciones</a>
        <a href="../templates/page-under-Contruction.html">Preguntas Frecuentes</a>
        <a href="../templates/page-under-Contruction.html">Ayuda</a>
    </footer>
</body>

</html>