<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle | CAC-MOVIES</title>
      <link rel="stylesheet" href="../static/css/style details products.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <script src="https://kit.fontawesome.com/f7fb471b65.js" crossorigin="anonymous"></script>
   
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
</head>
<body> 

        <!-- Encabezado -->
        <header class="header">
    
            <nav>
                <div id="logo">
                    <a href="../index.html">
                        <i class="fa-solid fa-leaf"></i>
                        <span class="logo-text">Productos Naturales</span>
                    </a>
                </div>
    
                <ul class="nav-links">
                    <li><a href="#">Categorias</a></li>
                    <li><a href="../templates/register.html" class="btn-reg">Registrarse</a></li>
                    <li><a href="#popular">Lo mas vendido</a></li>
                    <li>
                        <a href="../templates/login.html">
                            <i class="fas fa-sign-in-alt"></i>
                            <span class="login-text">Iniciar Sesión</span>
                        </a>
                    </li>
                </ul>
            </nav>
    
        </header>
    <main id="mainDetalle" class="mainDetalle">
        <section id="banner" class="d-flex">
      <section class="detalle"  data-aos="zoom-in" >
        <div class="contenedorDetalle" >
            <div class="imgDetalle">
                <img src="../static/img/productos/datiles.jpg" alt="image datiles">
            </div>
            <div class="textoDetalle">
                <h1>Datiles</h1>
                <h2>Caracteristicas</h2>
                <p> El dátil es el fruto obtenido de las especies de palmeras Phoenix, principalmente de la especie Phoenix
                     dactylifera, llamada popularmente palmera datilera. Es considerado un alimento básico en los países del
                      Magreb. Su nombre se deriva de la palabra griega δακτύλος («daktilos»), que significa «dedo».</p>
                <h2>Beneficios</h2>
                <p>Los dátiles proporcionan una amplia gama de nutrientes esenciales, y son una muy buena fuente en la dieta
                    de potasio. El azúcar contenido en dátiles maduros es alrededor del 80%; el resto se compone de proteínas,
                    fibra y oligoelementos incluyendo el boro, cobalto, cobre, flúor, magnesio, manganeso, selenio y zinc.</p>
                
               
            </div>
        </div>
       

      </section>

      

    </main>
            <footer id="footer">
            <a href="">Términos y condiciones</a>
            <a href="">Preguntas Frecuentes</a>
            <a href="">Ayuda</a>
        </footer>
</body>
</html>