<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle | Productos Naturales</title>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
      <link rel="stylesheet" href="../static/css/style details products.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <script src="https://kit.fontawesome.com/f7fb471b65.js" crossorigin="anonymous"></script>
   
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
</head>
<body> 

        <!-- Encabezado -->
        <header class="header">
    
            <nav>
                <div id="logo">
                    <a href="../index.html">
                        <i class="fa-solid fa-leaf"></i>
                        <span class="logo-text">Productos Naturales</span>
                    </a>
                </div>
    
                <ul class="nav-links">
                    <li><a href="../templates/page-under-Contruction.html">Categorias</a></li>
                    <li><a href="../templates/register.html" class="btn-reg">Registrarse</a></li>
                    
                    <li>
                        <a href="../templates/login.html">
                            <i class="fas fa-sign-in-alt"></i>
                            <span class="login-text">Iniciar Sesión</span>
                        </a>
                    </li>
                </ul>
            </nav>
    
        </header>
    <main id="mainDetalle" class="mainDetalle">
        <section id="banner" class="d-flex">
      <section class="detalle"  data-aos="zoom-in" data-aos-duration="1000" >
        <div class="contenedorDetalle" >
            <div class="imgDetalle">
                <img src="../static/img/productos/nueces.jpg" alt="image almendras">
            </div>
            <div class="textoDetalle">
                <h1>Nueces: </h1>
                <h2>Caracteristicas</h2>
                <p>Las nueces son unos de los frutos secos más beneficiosos desde el punto de vista de la salud debido
                     a la cantidad de nutrientes que contienen, llegando a ser consideradas un “superalimento”. Son ricas 
                     en ácidos grasos omega-3, proteínas, fibra, antioxidantes, vitaminas y minerales esenciales. Una ración 
                     de nueces contiene nutrientes clave como ácido alfa-linolénico (ALA, un tipo de omega-3), vitamina E, 
                     magnesio, zinc, fósforo y cobre, entre otros.</p>
                <h2>Beneficios</h2>
                <p>Las nueces son fuente de minerales como el potasio, zinc, magnesio o fósforo. Estos son primordiales para 
                    el desarrollo muscular, el sistema inmunitario o la salud de huesos y dientes, entre otros. Beneficiosas
                     para prevenir enfermedades cardiovasculares</p>
                
               
            </div>
        </div>
       

      </section>

      

    </main>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>  AOS.init();  </script>
            
    <footer id="footer">
        <a href="../templates/page-under-Contruction.html">Términos y condiciones</a>
        <a href="../templates/page-under-Contruction.html">Preguntas Frecuentes</a>
        <a href="../templates/page-under-Contruction.html">Ayuda</a>
    </footer>
</body>
</html>