<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/style login.css">
    <link rel="shortcut icon" href="./static/img/leaf.ico" type="image/x-icon">
    <title>Productos Naturales</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <script src="https://kit.fontawesome.com/f7fb471b65.js" crossorigin="anonymous"></script>
</head>

<body>

    <!-- Encabezado -->
    <header class="header">

        <nav>
            <!-- Logo -->
            <div id="logo">
                <a href="../index.html">
                    <i class="fa-solid fa-leaf"></i>
                    <span class="logo-text">Productos Naturales</span>
                </a>
            </div>

            <!-- hipervínculos del menú -->
            <ul class="nav-links">
                <li><a href="../templates/register.html" class="btn-reg">Registrarse</a></li>

            </ul>
        </nav>

    </header>

    <!-- Contenido -->
    <main>

        <section id="banner" class="d-flex">

            <div id="contenedor">
                <div id="central">
                    <div id="login">
                        <div class="titulo">
                            Bienvenido
                        </div>
                        <form id="loginform">
                            <input type="text" name="usuario" placeholder="Usuario" required>

                            <input type="password" placeholder="Contraseña" name="password" required>

                            <button type="submit" title="Ingresar" name="Ingresar">llll</button>
                        </form>
                        <div class="pie-form">
                            <a href="#">¿Perdiste tu contraseña?</a>
                            <a href="/templates/register.html">¿No tienes Cuenta? Registrate</a>
                        </div>
                    </div>
                    <div class="inferior">
                        <a href="#">Volver</a>
                    </div>
                </div>

        </section>



        <h2 class="tituloRegistrarse">Iniciar Sesión</h2>
                <div>
                    <input type="email" placeholder="Email" id="email" name="email">
                    <div class="error-text"></div>
                </div>
                <div>
                    <input type="password" placeholder="Contraseña" id="password" name="password">
                    <div class="error-text"></div>
                </div>
                <div>
                    <input class="boton" type="submit" value="Iniciar Sesión">
                </div>
                <div>
                    <a id="ayuda" class="ayuda" href="registrarse.html">Registrarse</a>
                </div>



    </main>

    <footer id="footer">
        <a href="">Términos y condiciones</a>
        <a href="">Preguntas Frecuentes</a>
        <a href="">Ayuda</a>
    </footer>

</body>

</html>