<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos Naturales</title>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/style login.css">
    <script src="https://kit.fontawesome.com/f7fb471b65.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
</head>

<body class="bodyRegistrarse">

    <header class="header">
        <nav>
            <!-- Logo -->
            <div id="logo">
                <a href="../index.html">
                    <i class="fa-solid fa-leaf"></i>
                    <span class="logo-text">Productos Naturales</span>
                </a>
            </div>

            <!-- hipervínculos del menú -->
            <ul class="nav-links">
                <li><a href="../index.html" class="btn-reg">INICIO</a></li>
                <li><a href="../templates/register.html" class="btn-reg">Registrarse</a></li>

            </ul>
        </nav>
    </header>

    <main>
        <section id="banner" class="d-flex" data-aos="zoom-in" data-aos-duration="1000">

            <div id="contenedor">
                <div id="central">
                    <div id="login">
                        <div class="titulo">
                            Bienvenido
                        </div>
                        <form id="loginform">
                            <div>
                                <input type="email" placeholder="Email" id="email" name="email">
                                <div class="error-text"></div>
                            </div>
                            <div>
                                <input type="password" placeholder="Contraseña" id="password" name="password">
                                <div class="error-text"></div>
                            </div>

                            <div>
                                <input class="boton" type="submit" value="Iniciar Sesión">
                            </div>


                        </form>
                        <div class="pie-form">
                            <a href="#">¿Perdiste tu contraseña?</a>
                            <a href="../templates/register.html">¿No tienes Cuenta? Registrate</a>
                        </div>
                    </div>
                    <div class="inferior">
                        <a href="../index.html">Volver</a>
                    </div>
                </div>
        </section>
    </main>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>  AOS.init(); </script>
    <script src="../js/validate_login.js"></script>
    <footer id="footer">
        <a href="../templates/page-under-Contruction.html">Términos y condiciones</a>
        <a href="../templates/page-under-Contruction.html">Preguntas Frecuentes</a>
        <a href="../templates/page-under-Contruction.html">Ayuda</a>
    </footer>


</body>

</html>