<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos Naturales</title>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
    <link rel="stylesheet" href="../static/css/style details products.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <script src="https://kit.fontawesome.com/f7fb471b65.js" crossorigin="anonymous"></script>

    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
</head>

<body>

    <!-- Encabezado -->
    <header class="header">

        <nav>
            <div id="logo">
                <a href="../index.html">
                    <i class="fa-solid fa-leaf"></i>
                    <span class="logo-text">Productos Naturales</span>
                </a>
            </div>

            <ul class="nav-links">
                <li><a href="../index.html" class="btn-reg">INICIO</a></li>
                <li><a href="#">Categorias</a></li>
                <li><a href="../templates/register.html" class="btn-reg">Registrarse</a></li>

                <li>
                    <a href="../templates/login.html">
                        <i class="fas fa-sign-in-alt"></i>
                        <span class="login-text">Iniciar Sesión</span>
                    </a>
                </li>
            </ul>
        </nav>

    </header>
    <main id="mainDetalle" class="mainDetalle">
        <section id="banner" class="d-flex">
            <section class="detalle" data-aos="zoom-in" data-aos-duration="1000">
                <div class="contenedorDetalle">
                    <div class="imgDetalle">
                        <img src="../static/img/construccion.jpg" alt="image almendras">
                    </div>

                </div>
            </section>
    </main>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <footer id="footer">
        <a href="">Términos y condiciones</a>
        <a href="">Preguntas Frecuentes</a>
        <a href="">Ayuda</a>
    </footer>
</body>

</html>