<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="../static/css/style register.css">
    <link rel="shortcut icon" href="./static/img/leaf.ico" type="image/x-icon">
    <title>Productos Naturales</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <script src="https://kit.fontawesome.com/f7fb471b65.js" crossorigin="anonymous"></script>
</head>

<body>

    <!-- Encabezado -->
    <header class="header">

        <nav>
            <!-- Logo -->
            <div id="logo">
                <a href="../index.html">
                    <i class="fa-solid fa-leaf"></i>
                    <span class="logo-text">Productos Naturales</span>
                </a>
            </div>

           
            <ul class="nav-links">
                <li>
                    <a href="./login.html">
                        <i class="fas fa-sign-in-alt"></i>
                        <span class="login-text">Iniciar Sesión</span>
                    </a>
                </li>
            </ul>
        </nav>

    </header>


    <main>

        <section id="banner" class="d-flex">
           


        </section> <section class="form-register">
                <h4>Formulario Registro</h4>
                <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre"
                    required>
                <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Ingrese su Apellido"
                    required>
                <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
                <input class="controls" type="password" name="correo" id="correo" placeholder="Ingrese su Contraseña"
                    required>
                <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
                <input class="button" type="submit" value="Registrar">
                <p><a href="../templates/login.html ">¿Ya tengo Cuenta?</a></p>
            </section>







    </main>

    <footer id="footer">
        <a href="">Términos y condiciones</a>
        <a href="">Preguntas Frecuentes</a>
        <a href="">Ayuda</a>
    </footer>

</body>

</html>